@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    justify-content: space-between;
    align-items: center;
    transform: translate(-40px,0px);
    width: 1920px;
    height: 60PX;
    display: flex;
}

.left_box{
    display: grid;
  grid-auto-flow: column; /* Places items in a single row */
  gap: 10px; /* Adds spacing */
}
.box{
    position: relative;
    height: 10px;
    width: 150px;
    display: flex;
    cursor: text;
    padding: 10px 20px;
    background-color: #f1f4f8;
    border-radius: 30px ;
    align-items: center;
    box-shadow: 0 10px  25px  gray;
    transform: translate(0px,13px);
}

.box input{
    position: absolute;
    width: 140px;
    outline: none;
    border:none;
    
    transition: 0.8s;
    

}
.box a .fas{
    color:rgb(67, 67, 233);
    font-size: 18px;
}
*{  
    font-family: "poppins",sans-serif;
}
#search_box{
    cursor: text;
    
    background-color: transparent;
}
svg.loop{
   transform: translate(133px,3px);
}
#logo{
    
    transform: translate(-137px,0px);
}
#search{
    position: absolute;
    
}

  
header{
    width: 101%;
    overflow: visible;
    display: flex;
    background-color: rgb(67, 67, 233);
    gap: 400px;
    justify-content: center;
    display: flex;
    margin: 30px;
    
    
}
.accueil{
    background-color:rgb(67, 67, 233) ;
    height: 60px ;
    width: 100px;
    border: none;
    cursor: pointer;
    font-weight: bolder;
    display: absolute;
}
#acceuil:hover{
    display: absolute;
    background-color:rgb(67, 67, 81) ;
}
#acceuil:active{
    background-color: aliceblue;
}
#cart{
margin-left: 10px;
}
#accueil{
    margin-right: 10px;
}
body{
    width: 100%;
    background-color: #f8f8f8;
    display: block;
    font-family: "poppins",sans-serif;
    overflow-x: hidden;
}